/* 2 - Media Query */
h1{
    color:red;
}

@media screen and (max-width: 500px) {
    h1 {
        color:blue;
    }
}

/* 3 - Min width */
p{
    background-color: red;
    color: black;
}
@media screen and (min-width: 800px) {
    p{
        background-color: #789;
        color: red;
    }
}

/* 4 - Landscape */
h3{
    display: none;
}

@media screen and (orientation: landscape) {
    h3{
        display: block;
    }
}    

    
