/* 4 - External css */
body {
    padding-bottom: 500px;
}

h3 {
    color:green;
}

/* classes */
.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* Ids */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 5px; 
}

/* ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/* nome de cores */
.color-name {
    color:crimson;
}

/* hex */
.hex {
    color:#55a398;
}

.hex2 {
    color:#a4abd1;
}

/* mais sobre hex */
.simple-hex {
    color:#333;
}

.simple-hex2 {
    color:#801;
}

/* RGB */
.rgb {
    color:rgb(255,0,0);
}

.mixed-rgb {
    color:rgb(231,093,213);
}

/* RBGA */
.rgba {
    color:rgba(200,024,45, .5);
}

/* HSL */
.hsl {
    color:hsl(100,20%,50%);
}

.hsl-2 {
    color:hsl(201, 55%,50%);
}

/* background color */
.bg {
    background-color:#000 ;
    color: yellow;
}

.bg-2 {
    background-color:black ;
    color: purple;
}

/* background opacity */
.bg-opacity {
    background-color:green;
    opacity: 0.5;
    color: rgb(0, 225, 255);
}

.bg-opacity-2{
    background-color:rgb(122, 124, 122);
    opacity: 0.3;
    color: yellow;
}

/* RGBA com opacidade */
.rgba-opacity {
    background-color: rgba(90,120,20, 0.2);
    color: black;
}

/* background image */
.bg-image {
    background-image: url("panda.jpg");
    padding: 10px;
    color: white;
}

.bg-image-2 {
    background-image: url("cachorronauta.png");
    padding: 10px;
    color: #000;
}

/* centralizando bg image */
.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url("panda.jpg");
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* text align */
.text-aligned{
    text-align: right;
}

.container-center {
    text-align: center;
    width: 300px;
    border: 1px solid black;
}